.about {
	margin-top: 80px;
}

.about__title {
	font-family: "Mr-Amazin", sans-serif;
	font-size: 40px;
	line-height: 40px;
	margin: 0 0 8px 0;
	color: var(--accent-color);
}

.about__subtitle {
	font-family: "Mr-Amazin", sans-serif;
	font-size: 24px;
	line-height: 28px;
	font-weight: 900;
	margin: 0 0 20px 0;
	color: var(--accent-color);
}

.about__text {
	line-height: 20px;
	margin: 0 0 20px;
}

.about__text:last-of-type {
	margin: 0 0 68px 0;
}

.about__video {
	width: 100%;
	position: relative;
}

.about__egg {
	display: none;
	width: 100%;
	z-index: 10;
}

.about__egg--visible {
	display: block;
	transform: rotate(20.63deg);
}

.about__egg--img {
	position: relative;
	width: 100%;
	z-index: 10;
	transform: rotate(0);
}

.about__egg--img--none {
	display: none;
}

.about__egg--img img {
	width: 100%;
}

.about__video::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: 50%;
	height: 100%;
	width: 100%;
	background-color: #243e8a;
	filter: blur(var(--blur));
	z-index: -1;
}
