.btn {
	display: block;
	width: 309px;
	height: 48px;
	border-radius: 46px;
	border-style: none;
	font-family: "Montserrat", sans-serif;
	font-size: 16px;
	font-weight: 700;
	text-align: center;
	text-decoration: none;
	line-height: 20px;
	color: var(--text-color);
	padding: 0;
	margin: 0 auto;
	background-image: var(--btn-gradient);
	cursor: pointer;
}

.btn--opensea {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	background-image: none;
	background-color: var(--opensea-color);
}

.btn--gallery {
	display: block;
	margin: 0 auto;
	background-image: none;
	background-color: #5d00fa;
}
