.mission {
	margin-top: 167px;
	padding-top: 46px;
	background-image: linear-gradient(90deg, #101029 0%, #161c43 100%);
}

.mission__container {
	display: flex;
	flex-direction: column;
}

.mission__title {
	font-family: "Mr-Amazin", sans-serif;
	font-size: 40px;
	line-height: 47px;
	margin: 0 0 20px 0;
	color: var(--accent-color);
}

.mission__text {
	line-height: 20px;
	margin: 0 0 18px 0;
}

.mission__text:last-of-type {
	margin: 0;
}

.mission__img {
	display: block;
	width: 275px;
	margin: 0 auto;
	height: auto;
	align-self: flex-end;
}
