.timer {
	position: relative;
	margin-top: 152px;
}

.timer__title {
	font-size: 24px;
	line-height: 30px;
	font-weight: 900;
	color: var(--accent-color);
	text-align: center;
	margin: 0 0 20px 0;
}

.timer__time {
	display: block;
	font-family: "Roboto Flex", sans-serif;
	font-size: 40px;
	line-height: 46px;
	text-align: center;
}

.timer__wrapper {
	width: 50%;
	position: relative;
}

.timer__wrapper::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: 50%;
	height: 100%;
	width: 100%;
	background-color: #291025;
	filter: blur(var(--blur));
	z-index: -1;
}

.timer__img {
	width: 100%;
}
