@media screen and (min-width: 350px) {
	/* MODAL */
	.btn {
		width: 309px;
	}

	.modal__dec {
		width: 309px;
	}
}

@media screen and (min-width: 590px) {
	/* MISSIONS */
	.mission__title {
		text-align: center;
	}

	.mission__text {
		max-width: 370px;
		margin: 0 auto 18px auto;
		text-align: center;
	}

	.mission__text:last-of-type {
		max-width: 420px;
		margin: 0 auto;
		text-align: center;
	}

	/* FAQ */
	.faq__title {
		max-width: none;
		text-align: center;
		margin: 0 0 48px 0;
	}
}

@media screen and (min-width: 650px) {
	/* ABOUT */
	.about__video {
		width: 80%;
		margin: 0 auto;
	}

	/* INFO */
	.info__title {
		margin: 0 0 20px auto;
		text-align: right;
		max-width: 680px;
	}

	.info__text {
		text-align: right;
	}
}

@media screen and (min-width: 768px) {
	/* ABOUT */
	.about__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.about__info {
		margin-right: 40px;
	}

	.about__text {
		max-width: 385px;
	}

	.about__text:last-of-type {
		margin: 0;
	}

	.about__video {
		width: 300px;
		margin: 0;
	}

	/* NUMBERS */
	.numbers {
		margin-top: 157px;
	}

	.numbers__title {
		text-align: center;
		max-width: 760px;
		margin: 0 auto 20px auto;
	}

	.numbers__text {
		text-align: center;
	}

	.numbers__wrapper {
		flex-direction: row;
		justify-content: space-evenly;
		margin-bottom: 72px;
	}

	.numbers__block {
		margin: 0;
	}

	/* TIMER */
	.timer__wrapper {
		position: absolute;
		top: -345px;
		left: 0;
		width: 33%;
		z-index: -1;
	}

	.timer__drons {
		width: 25%;
		top: 110%;
	}

	/* MISSIONS */
	.mission {
		padding-bottom: 93px;
	}

	.mission__container {
		position: relative;
		z-index: 1;
		flex-direction: row;
		justify-content: space-between;
	}

	.mission__dec {
		margin: 0;
	}

	.mission__title {
		text-align: left;
	}

	.mission__text {
		margin: 0 0 18px 0;
		text-align: left;
	}

	.mission__text:last-of-type {
		margin: 0;
		text-align: left;
	}

	/* FAQ */
	.faq__container {
		grid-template-columns: repeat(2, 1fr);
	}

	.faq__text {
		height: 123px;
		padding: 0 50px;
	}

	.faq__duck {
		top: -90px;
	}

	.faq__text--last {
		max-width: 540px;
	}

	/* GET */
	.get__autoscroll {
		height: 587px;
	}

	.get__img {
		height: auto;
	}

	.get__dec {
		height: 22px;
	}
}

@media screen and (min-width: 880px) {
	/* TIMER */
	.timer__wrapper {
		top: -450px;
		width: 35%;
	}
}

@media screen and (min-width: 1024px) {
	/* HEADER */
	.header {
		border-top: none;
	}

	.header__menu {
		display: flex;
	}

	.header__btn {
		display: none;
	}

	/* PREVIEW */
	.preview__title {
		font-size: 76px;
		line-height: 80px;
	}

	.preview__text {
		font-size: 26px;
		line-height: 30px;
		max-width: 420px;
	}

	.preview__info {
		font-size: 18px;
		line-height: 22px;
	}

	/* MAIN */
	.main__dec2 {
		width: 100%;
		height: 100%;
		object-fit: cover;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		transform: translateX(0%);
	}

	/* ABOUT */
	.about__video {
		width: 400px;
	}

	/* INFO */
	.info__title {
		font-size: 32px;
		line-height: 40px;
		margin: 0 0 33px auto;
		max-width: 570px;
	}

	/* TIMER */
	.timer {
		margin-top: 196px;
	}

	.timer__title {
		font-size: 32px;
		line-height: 40px;
	}

	.timer__time {
		font-size: 62px;
		line-height: 70px;
	}

	.timer__wrapper {
		top: -550px;
		width: 30%;
	}

	/* NUMBERS */
	.numbers__title {
		font-size: 32px;
		line-height: 40px;
		margin: 0 auto 16px auto;
	}

	.numbers__text {
		font-size: 24px;
		line-height: 30px;
	}

	.numbers__desc {
		font-size: 24px;
		line-height: 26px;
	}

	/* MISSIONS */
	.mission {
		padding-bottom: 93px;
	}

	.mission__title {
		font-size: 32px;
		line-height: 37px;
		margin: 0 0 12px 0;
	}

	.mission__text {
		font-size: 24px;
		line-height: 38px;
		margin: 0 0 36px 0;
		max-width: 540px;
	}

	.mission__text:last-of-type {
		max-width: 610px;
	}

	/* GALLERY */
	.gallery__title {
		font-size: 48px;
		line-height: 56px;
		margin: 0 0 72px 0;
	}

	.galerry__block {
		width: 350px;
		height: 350px;
		margin-right: 30px;
	}

	.gallery__autoscroll {
		margin-bottom: 30px;
	}

	.gallery__autoscroll:last-of-type {
		margin-bottom: 0;
	}

	.gallery__autoscroll--last {
		display: none;
	}

	.gallery__btn {
		margin-top: 64px;
	}

	.galerry__block::before {
		font-size: 300px;
	}

	/* FAQ */
	.faq__container {
		gap: 30px;
	}

	.faq__title {
		font-size: 32px;
		line-height: 37px;
		margin: 0 0 48px 0;
	}

	.faq__text {
		padding: 0 120px;
	}

	.faq__duck {
		top: -120px;
	}

	/* ROADMAP */
	.roadmap {
		padding-bottom: 270px;
	}

	/* GET */
	.get__title {
		font-size: 32px;
		line-height: 38px;
		margin: 0 0 46px 0;
	}

	/* TEAM */
	.team__title {
		margin: 0 0 64px 0;
	}

	.team__grid {
		grid-template-columns: repeat(4, 1fr);
	}

	.team__avatar {
		width: 162px;
		height: 162px;
	}

	.team__name {
		font-size: 32px;
		line-height: 40px;
	}

	.team__pos {
		font-size: 18px;
		line-height: 22px;
	}

	/* FOOTER */
	.footer__dec--desc {
		display: flex;
	}

	.footer__dec--mobile {
		display: none;
	}

	/* MODAL */
	.modal__dec {
		width: 400px;
	}

	/* PRELOAD */
	.preload__img {
		width: 364px;
		margin-bottom: 140px;
	}

	.preload__text {
		font-size: 60px;
		line-height: 66px;
	}

	/* CARD */
	.card {
		max-width: 100%;
		width: 100%;
		padding: 155px 40px;
	}

	.card__title {
		font-size: 70px;
		line-height: 68px;
		margin: 0 0 20px 0;
	}

	.card__text-m {
		display: none;
	}

	.card__text {
		display: block;
		font-size: 36px;
		line-height: 42px;
		margin: 0 0 30px 0;
	}

	.card__socials {
		justify-content: flex-start;
	}

	.card__social {
		margin-right: 40px;
	}

	.card__dec {
		width: 421px;
		height: 412px;
	}
}

@media screen and (min-width: 1142px) {
	.roadmap__wrapper {
		margin-bottom: 300px;
	}

	.roadmap__title {
		font-size: 64px;
		line-height: 64px;
	}

	.roadmap__arrow {
		width: 653px;
		height: 247px;
		bottom: -200px;
	}

	.roadmap__container {
		align-items: flex-start;
	}

	.roadmap__main {
		width: 100%;
		height: 2150px;
	}

	.roadmap__number {
		width: 400px;
		margin: 0;
	}

	.roadmap__number.ua-1 {
		margin-left: 40px;
		margin-bottom: 10px;
	}

	.roadmap__number.ua-4 {
		margin-right: -15px;
		margin-top: 25px;
	}

	.roadmap__number.ua-4 + .roadmap__block--10 {
		margin-top: -150px;
	}

	.roadmap__block {
		display: block;
	}

	.roadmap__stage--1,
	.roadmap__stage--3 {
		justify-self: start;
	}

	.roadmap__stage--2,
	.roadmap__stage--4 {
		justify-self: end;
	}

	.roadmap__stage--2 {
		top: -175px;
		right: 45px;
	}

	.roadmap__stage--3 {
		top: -365px;
		left: 40px;
	}

	.roadmap__stage--4 {
		top: -610px;
		right: 10px;
	}

	.roadmap__list {
		position: absolute;
		max-width: none;
	}

	.roadmap__item {
		font-size: 27px;
		line-height: 32px;
	}

	.roadmap__list--1 {
		display: grid;
		grid-template-columns: repeat(2, 290px);
		gap: 20px;
		padding: 0;
		margin: 0;
		right: 0;
	}

	.roadmap__list--1 li {
		font-size: 16px;
		line-height: 20px;
	}

	.roadmap__list--2 {
		top: 1160px;
		left: 600px;
	}

	.roadmap__list--3 {
		top: 1650px;
		left: 10px;
		max-width: 586px;
	}

	.roadmap__subtitle {
		position: absolute;
	}

	.roadmap__subtitle--1 {
		font-size: 48px;
		line-height: 47px;
		text-align: left;
		top: 650px;
		max-width: 500px;
	}

	.roadmap__subtitle--2 {
		top: 2155px;
		left: 10px;
		font-size: 64px;
		line-height: 63px;
		max-width: 460px;
		text-align: left;
	}
}

@media screen and (min-width: 1280px) {
	/* ABOUT */
	.about__video {
		width: 530px;
	}

	/* TIMER */
	.timer__wrapper {
		top: -650px;
	}

	/* FAQ */
	.faq__duck {
		width: 25%;
		top: -300px;
	}

	.faq__gun {
		display: block;
		width: 20%;
		top: -130px;
	}

	.faq__ammo {
		display: block;
	}

	/* MODAL */
	.modal__dec {
		width: 450px;
	}

	/* MISSION */
	.mission__dec {
		flex: 0 1 0;
		max-width: none;
	}

	.mission__picture:last-of-type:before {
		margin-top: 15px;
	}

	.mission__duck,
	.mission__solder {
		width: auto;
	}

	.mission__picture::before {
		width: 191px;
		height: 191px;
	}

	.mission__number {
		font-size: 100px;
		line-height: 95px;
	}

	.mission__subText {
		font-size: 32px;
		line-height: 43px;
	}

	/* ROADMAP */
	.roadmap__list--1 {
		display: grid;
		grid-template-columns: repeat(2, 320px);
	}

	.roadmap__list--1 li {
		font-size: 18px;
		line-height: 20px;
	}
}

@media screen and (min-width: 1440px) {
	/* BUTTONS */
	.btn {
		height: 58px;
		font-size: 20px;
	}

	.btn--opensea {
		font-size: 24px;
		line-height: 26px;
	}

	/* PREVIEW */
	.preview__title {
		line-height: 102px;
	}

	.preview__text {
		font-size: 36px;
		line-height: 44px;
		max-width: 720px;
	}

	.preview__info {
		font-size: 20px;
		line-height: 24px;
	}

	/* ABOUT */
	.about__info {
		margin-right: 0;
	}

	.about__title {
		font-size: 60px;
		line-height: 75px;
		margin: 0;
	}

	.about__subtitle {
		font-size: 26px;
		line-height: 38px;
		margin: 0 0 32px 0;
	}

	.about__text {
		font-size: 24px;
		line-height: 30px;
		margin-bottom: 16px;
		max-width: 780px;
	}

	.about__video {
		width: 750px;
		right: -150px;
	}

	/* INFO */
	.info__text {
		font-size: 24px;
		line-height: 30px;
	}

	/* TIMER */
	.timer__time {
		font-size: 96px;
		line-height: 112px;
	}

	.timer__wrapper {
		width: 35%;
	}

	/* MISSION */
	.mission {
		margin-top: 213px;
	}

	/* Gallery */
	.gallery {
		margin-top: 224px;
		margin-bottom: 200px;
	}

	/* ROADMAP */
	.roadmap {
		margin-top: 300px;
		padding-bottom: 470px;
	}

	/* TEAM */
	.team {
		margin-top: 170px;
	}

	/* FOOTER */
	.footer {
		margin-top: 164px;
	}

	/* CARD */
	.card__ellipse1,
	.card__ellipse2 {
		width: 263px;
		height: 263px;
	}

	.card__ellipse1 {
		top: -85px;
		right: -80px;
	}

	.card__ellipse2 {
		bottom: -85px;
		left: -80px;
	}
}

@media screen and (min-width: 1920px) {
	/* ABOUT */
	.about__video {
		right: -230px;
	}

	/* TIMER */
	.timer__wrapper {
		top: -700px;
	}

	/* FAQ */
	.faq__duck {
		width: 28%;
		top: -330px;
	}

	.faq__gun {
		display: block;
		width: 30%;
		top: -300px;
	}
}
